// general settings

// customerized variables
:root {
  // color scheme 1
  // --background-color: #f2f2f2;
  // --text-color: #0d0d0d;
  // --secondary-color: #d9d9d9;
  // --accent-color: #735645;
  // --dark-accent-color: #402a25;
  // color scheme 2
  --background-color: #f9f0ff;
  --text-color: #000;
  --secondary-color: #efdbff;
  --accent-color: #f9f0ff;
  --dark-accent-color: #722ed1;
  --bg: #d3adf7;
  --normal: #9254de;
  --dark: #722ed1;
  --light: #9254de;
  --text-1: #000;
  --text-2: #fff;
}

// sass varibles
$sidebar-width: 200px;
$base: #d9d9d9;
$border-radius: 8px;

// reset
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  min-height: 100vh;
  background: var(--secondary-color);
  font-size: calc(1rem * 0.625 * 1.4);
}

// set default margin to 0
body,
div,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// headings
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

// smooth scroll
html {
  scroll-behavior: smooth;
}

// layout setting
#root-container {
  width: 100%;
  // min-height: 1vh;
  // margin: 0 auto;
  position: relative;
  // flexbox layout
  display: flex;
  flex-flow: column nowrap;
}

// page 1
section#home {
  display: grid;
  gap: 0;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  min-height: 100vh;
  // overflow: auto;
}

// styles for sidebar start
#sidebar {
  grid-row: 1/2;
  grid-column: 1/2;
  // position: sticky;
  // top: 0;
  padding: 0.5rem;
  // flexbox setttings
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: var(--normal);
  color: var(--text-2);
  z-index: 10;
}
// styles for contents in #sidebar
// .sidebar--toggle {
//   font-size: 2rem;
//   position: absolute;
//   top: 0;
//   left: calc(100% - 2rem);
//   color: var(--primary-color);
//   border: 1px solid transparent;
//   cursor: pointer;
//   transition: all 0.5s ease-in-out;
//   background: transparent;
// }
// .sidebar--toggle:hover {
//   transform: rotate(90deg);
// }
.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: url(../img/saber.jpg) center / cover;
  filter: grayscale(60%);
  flex: none;
}
.sidebar--name {
  width: 9rem;
  flex: none;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  margin-left: 1rem;
  position: relative;

  & h3 {
    font-size: calc(1rem * 0.625 * 2.4);
    padding: 0;
    padding-bottom: 1rem;
    font-weight: 600;
    color: var(--text-2);
  }

  & p {
    font-size: calc(1rem * 0.625 * 1.2);
    text-transform: capitalize;
  }
}

.sidebar--toggle {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: calc(100% - 50px);
  color: var(--text-2);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 1s ease-in-out;
  width: 40px;
  height: 40px;
  font-size: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // display: none;
  padding: 2px;

  & .bar {
    width: 28px;
    height: 4px;
    margin: 3px 0;
    border: 1px solid var(--light);
    background: var(--light);
    position: relative;
    transition: all 1s ease;
  }

  @mixin translateY($distance) {
    transform: translateY($distance);
  }
}
.bar-down-to-center {
  // transform-origin: 50% 50% 0;
  transform: translateY(9px);
}
.bar-up-to-center {
  transform: translateY(-9px);
}

.sidebar--toggle:focus,
.sidebar--toggle:active {
  border: 0px solid transparent;
  outline: 0px solid transparent;
}

.hide {
  display: none !important;
}

.sidebar--navbar {
  flex: 600px;
}

.sidebar--nav {
  width: 100%;
  list-style: none;
  padding: 0;
  font-size: calc(1rem * 0.625 * 1.6);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  opacity: 1;
  transition: all 1s ease;
}

.opacity--0 {
  opacity: 0;
}
.opacity--1 {
  opacity: 1;
}
.display--flex {
  display: flex !important;
}

.sidebar--navitem {
  padding: 0.5rem 1rem;
  // width: 100%;
  border: 2px solid transparent;
  color: var(--text-2);
  background: transparent;
  transition: all 0.2s ease;
}
.sidebar--navitem:nth-child(n + 2):hover {
  color: var(--text-2);
  background: var(--light);
  border-bottom: 2px solid var(--dark);
  box-shadow: 0 8px 10px -5px var(--dark);
  cursor: pointer;
}
.sidebar--navitem:nth-child(n + 1):hover a {
  color: var(--text-2);
}

.sidebar--navlink {
  color: var(--text-2);
  text-decoration: none;
  text-transform: capitalize;
}

// grid layout to seperate the icon and text in navlink
.sidebar--navlink {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1rem 1fr;
  align-items: center;
}

// sidebar social icons
.icon-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  &:hover {
    background: var(--dark);
  }
}

.sidebar--socials div:nth-child(n + 1) {
  margin-left: 0.5rem;
}

.sidebar--socials {
  flex: 4 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-left: 0.5rem;
}
.sidebar--socials a i {
  color: var(--text-2);
  font-size: calc(1rem * 0.625 * 2.4);
}

.active {
  border-bottom: 4px solid var(--dark);
}
// styles for sidebar end

// styles for the 1st page content
.landing--header {
  grid-row: 2/3;
  grid-column: 1/2;
  position: relative;
  width: 100%;
  // min-height: calc(100vh - 96px);
  padding: 1rem 0 3rem;
  text-align: center;
  // centering content
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.landing--header,
.header--content::before {
  background: url(../img/lading_bg.jpg) 0 / cover fixed;
}

// .landing--header-mask
//   height: 100%;
//   background: var(--bg-color);
//   // padding: 1rem 0.5rem 6rem;
//   // display: grid;
//   // grid-template-rows: 25vh auto 30vh;
//   opacity: 0.9;
//   display: flex;
//   flex-flow: column nowrap;
// }

.highlight {
  color: var(--normal);
  font-size: 5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.header--content {
  color: var(--text-1);
  padding: 1rem;
  position: relative;
  // grid-row: 2/3;
  // min-width: 400px;
  width: 80%;
  // height: 61vh;
  margin: auto;
  overflow: hidden;
  border-radius: $border-radius;
}
.header--content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize($base, 0.3);
  z-index: -1;
  filter: blur(10px);
  margin: -10px;
}

.landing--display-1 {
  font-size: 3rem;
  padding: 0.5rem 0 0.5rem;
}
.landing--display-3 {
  font-size: calc(1rem * 0.625 * 1.8);
  line-height: 1.5;
  padding: 1rem 0;
}

.social--link,
.social--link:visited,
.social--link:active {
  font-size: calc(1rem * 0.625 * 2.4);
  text-decoration: none;
  color: var(--text-1);
}

.social--link {
  padding: 0 0.25rem;
}

.social--link:hover {
  color: var(--light);
}

.landing--link {
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--normal);
  display: inline-block;
  border: 1px solid var(--normal);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  position: relative;
}
.landing--link:hover {
  background: var(--dark);
  // box-shadow: 0 10px 10px -5px var(--light);
  // transform: scale(1.1);
}

.fixed--bottom {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}

// styles for main start
// #main {
//   color: var(--primary-color);
//   background: var(--secondary-color);
//   grid-row: 1/2;
//   grid-column: 2/3;
// }

// landing page one

// styles of 2nd page of landing

section#about {
  // background: url(../img/saber.jpg) center / contain;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(3, 1fr) auto;

  & #skills {
    grid-column: 1 / 13;
    grid-row: 1 / span 3;
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 1rem;
    box-shadow: 0 0 4px var(--dark-accent-color);

    & .skills-header {
      width: 100%;
      flex: 0 0 100%;
      background: var(--secondary-color);
      margin-bottom: 1.5rem;
      padding: 0 1rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      & h2 {
        font-size: calc(1rem * 0.625 * 2);
        line-height: 1.5;
      }

      & .skills--tag {
        border-radius: 0.5rem;
        background: transparent;
        border: 1px solid var(--accent-color);
        cursor: pointer;
        outline: none;
      }
    }

    & .skill {
      width: 8rem;
      height: 8rem;
      margin: 0.5rem;
      padding: 0.5rem;
      background: var(--accent-color);
      border-radius: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px var(--dark), 0 0 16px var(--light);
        color: var(--normal);
      }

      & .icon-name {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
    & i {
      font-size: 5rem;
    }
  }

  @mixin grid($col-start, $col-span, $row-start, $row-span) {
    grid-column: $col-start / span $col-span;
    grid-row: $row-start / span $row-span;
  }

  & #about--email,
  & #about--git,
  & #about--codepen,
  & #skills--description,
  & #about--linkedin {
    background: var(--background-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px var(--dark-accent-color);

    & p {
      margin-top: 1rem;
      text-align: center;
      font-size: calc(1rem * 0.625 * 1.8);
    }
    & i {
      font-size: 6rem;
    }
  }

  & #about--email,
  & #about--git,
  & #about--codepen,
  & #about--linkedin {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & a {
      text-decoration: none;
      color: var(--text-color);
    }

    &:hover {
      background: var(--accent-color);
      & p a {
        color: var(--background-color);
        text-decoration: underline;
      }
    }
  }

  #about--email {
    @include grid(1, 4, 4, 1);

    & p i {
      font-size: inherit;
    }
  }
  #about--git {
    @include grid(5, 4, 4, 1);
  }
  #about--codepen {
    @include grid(9, 4, 4, 1);
  }
  #skills--description {
    @include grid(13, 4, 1, 3);
    padding: 0.5rem 1rem;

    & img {
      width: 100%;
      align-self: center;
    }

    & blockquote {
      font-size: 1rem;
      line-height: 1.5;
      margin: 0;
      margin-top: 0.5rem;
      display: flex;
      flex-flow: column wrap;

      & span:first-child,
      & span:last-child {
        font-size: 3rem;
        line-height: 1;
        font-weight: bolder;
        color: var(--dark-accent-color);
      }

      & span:last-child {
        align-self: flex-end;
      }

      // &::before,
      // &::after {
      //   content: '"';
      //   font-size: 3rem;
      // }
    }
  }
  #about--linkedin {
    @include grid(13, 4, 4, 1);
  }
}

// styles for the 3rd page
#works {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto repeat(4, auto);

  & .demo--heading {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    background: var(--accent-color);
    font-size: calc(1rem * 0.625 * 2);
    line-height: 2;
    padding: 0 0.5rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
.demo--heading-more {
  font-size: calc(1rem * 0.625 * 1.2);
  background-color: transparent;

  & .demo--heading-control {
    text-decoration: none;
    // border: 1px solid var(--accent-color);
    // border-radius: 50%;
    padding: 0 0.5rem;
    color: var(--background-color);
    border: 1px solid var(--background-color);

    &:hover {
      background: var(--dark-accent-color);
    }
  }
}

.demo--wrap {
  position: relative;
  transition: all 1s ease;
  display: flex;
  flex-flow: column nowrap;
  background: var(--background-color);
  overflow: hidden;
  box-shadow: 0 0 2px var(--text-color);
  grid-column-start: span 3;
  // border-top-left-radius: 12px;
  // border-top-right-radius: 12px;

  &:nth-child(2) {
    // grid-column: 1 / span 1;
    // grid-row: 2 / span 1;
  }

  &:last-child {
    grid-column-start: span 3;
    grid-row: 2 / span 2;
  }

  &:hover {
    box-shadow: 0 8px 8px -4px var(--c2);
    background: var(--dark-accent-color);
    color: var(--background-color);
    // enlarge on hover / click
    grid-column-start: span 6;
    // grid-row: 2 / span 2;

    & .demo--img img,
    & .demo--img button {
      opacity: 1;
    }
  }
}

.demo--img {
  & button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1rem;
    font-size: (1rem * 0.625 * 1.4);
    line-height: 2;
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: var(--accent-color);
    color: var(--background-color);
  }

  & img {
    width: 100%;
    opacity: 0.5;
    // transition: all 0.5s ease;
    position: relative;
  }
}

.demo--description {
  background: transparent;
  width: 100%;
  font-size: calc(1rem * 0.625 * 1.4);
  line-height: 2;
  padding: 0 0.2rem;
}

// section contact start
#contact {
  margin: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  flex-flow: column wrap;

  & .more {
    padding: 0.5rem;
    background: var(--background-color);
    grid-column-start: span 1;
    // border-radius: 0.5rem;

    & h3 {
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    & div {
      display: flex;
      flex-flow: row wrap;

      & a {
        padding: 0.5rem;
        & i {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  & form {
    grid-column: 2 / span 3;
    background: var(--background-color);
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    & div:first-child {
      grid-row-start: span 3;
    }
  }

  & .contact--text {
    padding: 0.25rem 0.5rem;
    font-size: calc(1rem * 0.625 * 1.6);
    line-height: 1.5;
    grid-column: 1 / span 4;
    background: var(--background-color);
    // border-top-left-radius: 0.5rem;
    // border-top-right-radius: 0.5rem;
    text-align: center;

    & h2 {
      font-size: calc(1rem * 0.625 * 2);
      padding: 0.5rem 0 0.25rem;
      text-align: center;
    }

    & p {
      color: var(--secondary-color);
      background: var(--accent-color);
    }
  }

  & div input,
  & div textarea {
    width: 100%;
    height: 100%;
    font-size: calc(1rem * 0.625 * 1.4);
    line-height: 1.5;
    color: var(--text-color);
    // margin: 0.25rem 0.5rem;
    // margin-bottom: 0.5rem;
    border: 1px solid var(--accent-color);
    outline: none;
    padding: 0.5rem 1rem;
  }

  & input:focus,
  & textarea:focus {
    background: var(--background-color);
    color: var(--text-color);
  }

  // & .button-wrap {
  //   // padding: 0.5rem;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  & .button-wrap button {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    line-height: 2;
    font-size: calc(1rem * 0.625 * 1.4);
    text-transform: capitalize;
    border: solid 1px var(--dark-accent-color);
    padding: 0 1.5rem;
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
  }
  & .button-wrap button:hover {
    background: var(--dark-accent-color);
    color: var(--background-color);
  }
}

::placeholder {
  color: var(--dark-accent-color);
  font-size: calc(1rem * 0.625 * 1.4);
}
// section contact end

// styles for main end

// styles for footer start
footer {
  // height: 100px;
  width: 100%;
  background: var(--text-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0.5rem;
  color: var(--secondary-color);
  font-size: calc(1rem * 0.625 * 1.2);
}
footer span {
  text-transform: capitalize;
}

.footer--nav {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: var(1rem * 0.625 * 1.2);

  & li {
    margin-left: 1rem;
  }

  & a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(1rem * 0.625 * 1.2);
    text-transform: capitalize;

    &:hover {
      border-bottom: 1px solid var(--secondary-color);
    }
  }
}

// styles for footer end

// media queries

// @media screen and (min-width: 768px) {
//   #root-container {
//     grid-template-columns: 0 1fr;
//   }

//   #sidebar {
//     position: fixed;
//     width: $sidebar-width;
//     height: 100%;
//     background: var(--bg-color);
//     display: grid;
//     grid-template-rows: 15vh 15vh 1fr 25vh;
//     justify-items: center;
//     align-items: start;
//     color: var(--primary-color);
//     padding-top: 0.5rem;
//   }

// }

@media screen and (max-width: 500px) {
  .sidebar--toggle {
    display: block !important;
  }
  .sidebar--nav {
    display: none;
  }
}

// additional styles
// classes
.disabled {
  display: none !important;
}
