// general settings

// custom variables
:root {
  // color scheme 1
  --background-color: #f2f2f2;
  --text-color: #0d0d0d;
  --secondary-color: #d9d9d9;
  --accent-color: #fa8c16;
  --dark-accent-color: #402a25;
}

// sass varibles
$sidebar-width: 200px;
$base: #eee;

// reset
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  min-height: 100vh;
}

// set default margin to 0
body,
div,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// headings
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

// smooth scroll
html {
  scroll-behavior: smooth;
}

// layout setting

#root-container {
  width: 100%;
  min-height: 1vh;
  margin: 0 auto;
  position: relative;
  // grid layout
  display: grid;
  gap: 0.5rem;
  grid-template-columns: $sidebar-width 1fr;
}

// for wider devices
// #root-container {
//   display: grid;
//   gap: 0.5rem;
//   grid-template-columns: $sidebar-width 1fr;
//   min-height: 100vh;
//   padding: 0;
//   max-width: 1200px;
//   margin: auto;
// }

// styles for sidebar start
#sidebar {
  position: sticky;
  width: $sidebar-width;
  top: 0;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  height: 100vh;
  grid-template-rows: auto auto 2fr 3fr;
  background: var(--secondary-color);
  color: var(--text-color);
  align-items: start;
  justify-items: start;
  align-content: start;
}
// styles for contents in #sidebar
.sidebar--toggle {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: calc(100% - 2rem);
  color: var(--primary-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: transparent;
}
.sidebar--toggle:hover {
  transform: rotate(90deg);
}
.avatar {
  grid-column: 1/2;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background: url(../img/saber.jpg) center / cover;
  margin-left: 1rem;
  filter: grayscale(60%);
}
.sidebar--name {
  grid-row: 2/3;
  grid-column: 1/2;
  letter-spacing: 0.15rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 1rem;

  & h3 {
    font-size: calc(1rem * 0.625 * 2.4);
    padding: 0;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  & p {
    font-size: calc(1rem * 0.625 * 1.2);
    text-transform: capitalize;
  }
}

.hide {
  display: none;
}

.sidebar--navbar {
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/2;
}

.sidebar--nav {
  width: 100%;
  list-style: none;
  padding: 0;
  font-size: calc(1rem * 0.625 * 1.6);
  line-height: 1.5;
}

.sidebar--navitem {
  padding: 0.5rem 1rem;
  // width: 100%;
  // border: 2px solid transparent;
  color: var(--primary-color);
  background: transparent;
}
.sidebar--navitem:hover {
  background: var(--accent-color);
  color: var(--background-color);
  // box-shadow: 0 0 10px var(--text-color), 0 0 20px var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
.sidebar--navitem:hover a {
  color: var(--background-color);
}

.sidebar--navlink {
  color: var(--text-1);
  text-decoration: none;
  text-transform: capitalize;
}

// grid layout to seperate the icon and text in navlink
.sidebar--navlink {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1rem 1fr;
  align-items: center;
}

// sidebar social icons
.sidebar--socials {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 0.5rem;
}
.sidebar--socials a {
  transition: all 0.25s ease;
  background: transparent;
  padding: 0.5rem;

  & i {
    font-size: calc(1rem * 0.625 * 2.4);
  }
}
.sidebar--socials a:hover {
  transform: translateX(15%);
  background: var(--accent-color);
  color: var(--background-color);
  // box-shadow: 0 0.5rem 8px -4px var(--secondary-color);
}
// styles for sidebar end

// styles for main start
#main {
  color: var(--primary-color);
  background: var(--secondary-color);
  grid-row: 1/2;
  grid-column: 2/3;
}

// landing page one
.landing--header {
  position: relative;
  min-height: calc(100vh - 1rem);
  width: 100%;

  text-align: center;
  // centering content
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 1;
}

.landing--header,
.header--content::after {
  background: url(../img/lading_bg.jpg) center / cover;
}

// .landing--header-mask
//   height: 100%;
//   background: var(--bg-color);
//   // padding: 1rem 0.5rem 6rem;
//   // display: grid;
//   // grid-template-rows: 25vh auto 30vh;
//   opacity: 0.9;
//   display: flex;
//   flex-flow: column nowrap;
// }

.highlight {
  color: var(--accent-color);
  font-size: 5rem;
  // background: var(--text-dark);
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.header--content {
  color: var(--text-color);
  padding: 2rem 1rem;
  position: relative;
  // grid-row: 2/3;
  min-width: 400px;
  width: 70%;
  height: 61vh;
  margin: auto;
  overflow: hidden;
  border-radius: 0.5rem;
}
.header--content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize($base, 0.3);
  z-index: -1;
  filter: blur(2rem);
  margin: -2rem;
}

.landing--display-1 {
  font-size: 3rem;
  padding: 0.5rem 0 2rem;
}
.landing--display-3 {
  font-size: calc(1rem * 0.625 * 1.8);
  line-height: 1.5;
  padding: 1rem 0;
}

.social--link,
.social--link:visited,
.social--link:active {
  font-size: calc(1rem * 0.625 * 2.4);
  text-decoration: none;
  color: var(--text-color);
}

.social--link {
  padding: 0 0.25rem;
}

.social--link:hover {
  color: var(--dark-accent-color);
}

.landing--link {
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--accent-color);
  display: inline-block;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  position: relative;
}
.landing--link:hover {
  box-shadow: 0 10px 10px -5px var(--dark-accent-color);
  transform: scale(1.1);
}

.fixed--bottom {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}

// styles of 2nd page of landing
.landing--profile {
  // height: 100vh;
  margin-top: 0.5rem;
  background: var(--bg);
  display: grid;
  // grid-template-columns: 1fr 30%;
  // grid-template-rows: 20% 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  gap: 0.5rem;
}
.landing--profile-header {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  gap: 0.5rem;
  justify-items: center;

  & div {
    line-height: 1.5;
    width: 100%;
    height: 8rem;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
  }

  & div:hover {
    background: var(--accent-color);
    color: var(--secondary-color);
    font-size: calc(1rem * 0.625 * 1.8);
  }
}

// showing detailed techniques with grid
.landing--profile-main {
  // grid-column: 1/2;
  grid-column: 1/3;
  grid-row: 2/3;
  background: var(--background-color);
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 0.5rem 0;
  align-items: center;
  align-content: start;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.cell {
  font-size: calc(1rem * 62.5% * 1.4);
  line-height: 1.5;
  padding: 0.5rem;
}

.cell--single {
  grid-column: 1/3;
}
.cell--left {
  grid-column: 1/2;
}
.cell--right {
  grid-column: 2/3;
  position: relative;
}

// progress bar
.bar {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}
.bar--complete {
  background: var(--accent-color);
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-align: center;
  // box-shadow: 0 0 2px var(--secondary-color);
}
#bar-html {
  width: 100%;
}
#bar-css {
  width: 70%;
}
#bar-js {
  width: 75%;
}
#bar-bootstrap {
  width: 75%;
}

.landing--profile-side {
  // grid-column: 2/3;
  // grid-row: 2/3;
  grid-column: 1/3;
  grid-row: 3/4;
  background: var(--bg-color);
  padding: 0.5rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}
.icons i {
  flex: 0 0 2rem;
  margin: 1rem;
  border: 1px solid transparent;
  text-align: center;
}

// demo works start
// page 3
#works {
  margin-top: 0.5rem;
  // grid-column: 4/5;
  padding: 0 0.5rem;
  background: var(--bg);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.demo--wrap {
  background: var(--bg-color-light);
  // width: 200px;
  // height: 150px;
  // height: 12rem;
  margin: 0.5rem;
  position: relative;
  flex: 0 0 calc(25% - 1rem);
  transition: all 0.5s ease;
  display: flex;
  flex-flow: column nowrap;
}
.demo--wrap:hover {
  box-shadow: 0 8px 8px -4px var(--c2);
  background: var(--c3);
}
.demo--wrap:hover .demo--img img {
  opacity: 1;
}

.demo--heading {
  flex: 0 0 100%;
  margin: 0;
  margin-top: 1rem;
  font-size: calc(1rem * 0.625 * 1.8);
  border-bottom: 1px solid var(--c3);
  text-transform: capitalize;
  width: 100%;
  padding: 0.5rem;
  position: relative;
}
.demo--heading-more {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: calc(1rem * 0.625 * 1.2);
  text-decoration: none;
  color: var(--primary-color-darker);
}
.demo--heading-more:hover {
  cursor: pointer;
}

.demo--img img {
  width: 100%;
  opacity: 0.5;
  // transition: all 0.5s ease;
}

.demo--description {
  background: transparent;
  width: 100%;
  font-size: calc(1rem * 0.625 * 1.4);
  line-height: 2;
}
// demo works end

// section contact start
#contact {
  background: var(--c3);
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column wrap;

  & .contact--text {
    padding: 0.25rem 0.5rem;
    font-size: calc(1rem * 0.625 * 1.6);
    line-height: 1.5;
    flex: 1;

    & h2 {
      font-size: calc(1rem * 0.625 * 2);
      padding: 0.5rem 0 0.25rem;
      text-align: center;
    }
  }

  & form {
    flex: 1;
  }

  & div input,
  & div textarea {
    width: calc(100% - 1rem);
    font-size: calc(1rem * 0.625 * 1.4);
    line-height: 1.5;
    color: var(--primary);
    background: var(--bg);
    margin: 0.25rem 0.5rem;
    // margin-bottom: 0.5rem;
    border: 1px solid transparent;
  }

  & input:focus,
  & textarea:focus {
    font-size: calc(0.625 * 1rem * 2);
    background: #eee;
    color: var(--primary);
  }

  & .button-wrap {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .button-wrap button {
    border-radius: 0.5rem;
    line-height: 2;
    font-size: calc(1rem * 0.625 * 1.4);
    text-transform: capitalize;
    border: solid 1px var(--c1);
    padding: 0 1.5rem;
    cursor: pointer;
  }
  & .button-wrap button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px -5px var(--c1);
    background: var(--c1);
    color: #fff;
  }
}

::placeholder {
  color: var(--c2);
}
// section contact end

// styles for main end

// styles for footer start
footer {
  // height: 100px;
  width: 100%;
  background: var(--bg);
  position: sticky;
  bottom: 0;
  z-index: 4;
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}
footer span {
  font-size: calc(1rem * 0.625 * 1.2);
  text-transform: capitalize;
}
// styles for footer end

// media queries

// @media screen and (min-width: 768px) {
//   #root-container {
//     grid-template-columns: 0 1fr;
//   }

//   #sidebar {
//     position: fixed;
//     width: $sidebar-width;
//     height: 100%;
//     background: var(--bg-color);
//     display: grid;
//     grid-template-rows: 15vh 15vh 1fr 25vh;
//     justify-items: center;
//     align-items: start;
//     color: var(--primary-color);
//     padding-top: 0.5rem;
//   }

// }

// @media screen and (min-width: 1200px) {
//   // #root-container {
//   //   gap: 0.75rem;
//   //   grid-template-columns: 0 1fr;
//   // }
// }
